h1{
    background-color: cadetblue;
    width:500px;
    padding: 10px 25px 30px 80px;

    
    

}
div{
    border-color: aqua
}

h2{

    padding: 8px;
    
}

p{
    background-color: darkorange;
    margin: 100px 50px 5px 2px
}